<%
  var pagetitle = 'works list'
  var config = config
%>

<%- include('_common/_head', {
  key: 'index',
}) %>

<%- include('_component/_header', {
  console.log(config.default.title);
  title: config.default.title
}) %>

<main class="l-content">

  <section class="l-works">

    <% for (var i = 0; i < config.extension.worksList.length; i++) { %>

      <article class="c-worksCard _<%= (i + 1) %>">
        <a href="<%= config.extension.worksList[i].path %>" class="e-noise">
          <header class="c-worksCard_header">
            <h3 class="c-worksCard_title e-noise_item" data-text="<%= config.extension.worksList[i].title %>"><%= config.extension.worksList[i].title %></h3>
            <div class="c-worksCard_category"><%= config.extension.worksList[i].category %></div>
            <time class="c-worksCard_date"><%= config.extension.worksList[i].date %></time>
          </header>
        </a>
      </article>

    <% } %>

  </section>

</main>

<%- include('_component/_about') %>

<%- include('_common/_foot') %>
