<%
  var pagetitle = 'works list'
  var config = config
%>

<%- include('_common/_head', {
  key: 'index',
}) %>

<%- include('_component/_header') %>

<main class="l-content">

  <section class="l-works">
    <div class="l-inner">

    <% for (var i = 0; i < config.extension.worksList.length; i++) { %>

      <article class="c-list _works">
        <h3 class="c-list_title"><a href="<%= config.extension.worksList[i].path %>"><%= config.extension.worksList[i].title %></a></h3>
        <time class="c-list_date"><%= config.extension.worksList[i].date %></time>
      </article>

    <% } %>

    </div>
  </section>

</main>

<%# include('_component/_footer') %>

<%- include('_common/_foot') %>
